@font-face {
    font-family: Candara;
    src: url(../FONTS/Candara.ttf);
}

@font-face {
    font-family: Marguerite;
    src: url(../FONTS/marguerite.ttf);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow-x: hidden;
}

div {
    margin: 0;
    padding: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #353535; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    -webkit-box-shadow: 7px 0px 5px -1px rgba(96, 96, 96, 0.6);
    -moz-box-shadow: 7px 0px 5px -1px rgba(96, 96, 96, 0.6);
    box-shadow: 7px 0px 5px -1px rgba(96, 96, 96, 0.6);
    z-index: 20;
}

/* The navigation menu links */
.sidenav > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #b4fbff;
}

.sidenav .SidebarLogo {
    width: 100%;
}

/* Position and style the close button (top right corner) */
.SidebarLogo .CloseSidebar {
    width: 100%;
    top: 4.5vh;
    position: absolute;
}

.SidebarLogo .CloseSidebar > img {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#OpenSidebar {
    transition: 0.3s;
    position: fixed;
    top: 2%;
    left: 2%;
    z-index: 2;
}

#OpenSidebar > img {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.23);
    width: 80px;
    height: 80px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.custom-panel {
    position: relative;
    width: 100%; /* Sets each custom-panel to the width and height*/
    height: 766px; /* of the body (which is set to the window)*/
    margin: 0;
    background: transparent;
    overflow: hidden;
}

#page1 > .color1 {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #b4fbff;
    margin: 0;
}

#page1 > .color2 {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #ffb4b9;
    left: 50%;
}

#page1 .page1-container {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

#page1 .page1-container .wrapper {
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

#page1 .page1-container .wrapper  .page1-contents {
    width: 100%;
    text-align: center;
}

#page1 .piattos {
    width: 275px;
    height: 275px;
    background: #28282b;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-top: 90px;
    margin-bottom: 90px;
    display: block;
    margin: 90px auto;

}

#page1 .piattos > img {
    width: 100%;
    height: 100%;
}

#page1 .text {
    font-family: Candara;
    display: inline;
    color: #353535;
}

/*Hello*/
#page1 .text header {
    font-family: Marguerite;
    font-size: 48px;
}

#page1 .text header img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

/*Description*/
#page1 .text article {
    font-family: Candara;
    font-size: 18px;
}

#page1 .text > .txtchallenges {
    font-size: 20px;
}

#page2 .color1 {
    background: #ffe5b4;
    position: relative;
    width: 33.33%;
    height: 100%;
    float: left;
}

#page2 .color2 {
    background: #fefeb4;
    position: relative;
    width: 33.33%;
    height: 100%;
    float: left;
}

#page2 .color3 {
    background: #d6ffb3;
    position: relative;
    width: 33.34%;
    height: 100%;
    float: left;
}

#page2 .page2-contents {
    width: 100%;
    position: absolute;
    top: 30%;
}

#page2 .imgWebsite, #page2 .imgPhotography, #page2 .imgCreativity {
    width: 100%;
}

#page2 .imgWebsite > img, .imgPhotography > img, .imgCreativity > img {
    width: 188px;
    height: 188px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page2 .text {
    font-family: Candara;
}

#page2 .text > header {
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 4px;
    margin-top: 7px;
}

#page2 .text > article {
    font-size: 16px;
    text-align: center;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

#page2 .btns {
    width: 100%;
    margin: 20px 0;
}
#page2 .btns button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#page2 .btn-style, #page3 .btnSend {
    background-color: #f26b55;
    border: none;
    color: #ffffff;
    font-family: Candara;
    font-size: 16px;
    width: 235px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}

#page2 .btn-style:hover, .btnSend:hover, #page3 .btnSend:hover {
    color: #f26b55;
    border: 2px solid #f26b55;
    background-color: transparent;
}

#page2 > .color2 > header {
    width: 100%;
    font-family: Marguerite;
    font-size: 48px;
    color: #353535;
    position: absolute;
    text-align: center;
    top: 10%;
}

#page2 > .color2 > header img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

#page3 .color {
    background: #ffc6b3;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#page3 .text {
    width: 100%;
    text-align: center;

}

#page3 .text header {
    font-family: Marguerite;
    font-size: 48px;
    tex-align: center;
    display: block;
    color: #353535;
    padding-top: 8px;

}

#page3 .text img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

#page3 .page3-contents {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 90px 0 0 0;
    line-height: 200%;
    overflow: hidden;
}

#page3 .Details {
    font-family: Candara;
    color: #353535;
    position: absolute;
    bottom: 120px;
    width: 100%;
}

.Details-contents{
    display: inline-block;
}

#page3 .Details #name {
    font-size: 16px;
}

#page3 .Details #name input {
    font-size: 16px;
    margin-left: 24px;
}

#page3 .Details #emailAd {
    margin-top: 20px;
    font-size: 16px;
}

#page3 .Details #emailAd input {
    margin-left: 24px;
    font-size: 16px;
}

#page3 .Details #message {
    margin-top: 20px;
    font-size: 16px;
}

#page3 .Details #message textarea {
    margin-left: 5px;
    resize: none;
    background-color: #f5f1e9;
    border-radius: 5px;
    border-width: 0;
    width: 440px;
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

#page3 .Details #message textarea:focus {
    -webkit-box-shadow: inset 5px 5px 10px -4px rgba(91, 91, 91, 0.5);
    -moz-box-shadow: inset 5px 5px 10px -4px rgba(91, 91, 91, 0.5);
    box-shadow: inset 5px 5px 10px -4px rgba(91, 91, 91, 0.5);
    outline: none;
}

#page3 .Details #message p {
    float: left;
}

/**Textfields**/
input[type=text] {
    width: 440px;
    height: 30px;
    background-color: #f5f1e9;
    border-radius: 5px;
    border-width: 0;
    padding-left: 10px;
    padding-right: 10px;
}

input[type=text]:focus {
    -webkit-box-shadow: inset 5px 5px 10px -4px rgba(91, 91, 91, 0.5);
    -moz-box-shadow: inset 5px 5px 10px -4px rgba(91, 91, 91, 0.5);
    box-shadow: inset 5px 5px 10px -4px rgba(91, 91, 91, 0.5);
    outline: none;
}

#btnSend .btnSend {
    margin: 15px 15px 0 90px;
}

/*Home Portfolio Contact*/
#mySidenav .links {
    width: 100%;
    text-align: center;
    font-family: Candara;
    font-size: 28px;
    top: 34vh;
    position: absolute;
}

#mySidenav .links a {
    color: #ffffff;
}

#mySidenav .links #btnAbout:hover, #btnAbout:focus {
    color: #b4fbff;
    text-decoration: none;
}

#mySidenav .links #btnPortfolio:hover, #btnPortfolio:focus {
    color: #ffe5b4;
    text-decoration: none;
}

#mySidenav .links #btnContact:hover, #btnContact:focus {
    color: #ffc6b4;
    text-decoration: none;
}

.icons {
    width: 100%;
    position: absolute;
    top: 90vh;
    left: 6%;
}

.icons a img {
    width: 27px;
    height: 27px;
    margin: 16px;
    border-radius: 5px;
}

/*View Projects div - opacity*/
.view-works {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't                         support rgba */
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    padding: 0;
    visibility: hidden;
    z-index: 1;
}

.view-works .carousel-control img{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control.right img{
    right: 0;
}
.view-works #list-website .carousel-inner .item img,
.view-works #list-photographs .carousel-inner .item img{
    display: block;
    margin: 0 auto;
    min-width: 320px;
    max-width: 950px;
}

.view-works #list-creativity .carousel-inner .item img{
    display: block;
    margin: 0 auto;
    max-height: 700px;
    max-width: 900px;
}

 .view-works .container{
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

.view-works .container #list-website-carousel,
.view-works .container #list-photographs-carousel,
.view-works .container #list-creativity-carousel{

    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

#list-photographs, #list-website, #list-creativity{
    visibility: hidden;
}


element.style {
    width: 100%;
    height: 100%;
}
#particles-js .particles-js-canvas-el {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-animation: appear 1.4s 1;
    animation: appear 1.4s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
canvas {
    display: block;
    vertical-align: bottom;
}

#view-works #closeViewWebsites {
    background: Transparent;
    right: 2%;
    margin-top: 2%;
    position: absolute;
    border: hidden;
    z-index: 1;
}

#view-works #closeViewWebsites img {
    width: 20px;
    height: 20px;
    border: none;
}

#page3 .color .svg-mail {
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
   position: absolute;
    bottom: 0;
}

#page3 .color .svg-mail .paper {

}

#page3 .color .svg-mail .outside-mail,
#page3 .color .svg-mail .inside-mail,
#page3 .color .svg-mail .cover {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.view-full-website {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #414141;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    z-index: 2;
}

.view-full-website .description-bar{
    position: fixed;
    background-color: #4c4c4c;
    width: 18%;
    height: 100%;
    font-family: Candara;
    color: #ffffff;
    text-align: left;
    padding: 50px 10px 50px 55px;

    -webkit-box-shadow: 10px 10px 15px -6px rgba(31,31,31,1);
    -moz-box-shadow: 10px 10px 15px -6px rgba(31,31,31,1);
    box-shadow: 10px 10px 15px -6px rgba(31,31,31,1);
}

.view-full-website .description-bar .close-btn .btn-close-description{
    background: transparent;
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.view-full-website .description-bar .close-btn img{
    width: 20px;
    height: 20px;
}

.view-full-website .description-bar header{
    font-size: 24px;
}

.view-full-website .description-bar article{
    font-size: 16px;
}

.view-full-website .main-final-websites{
    padding: 50px 50px;
    width: 82%;
    position: relative;
    top: 1%;
    left: 18%;
}


.view-full-website .main-final-websites .picture-website img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 1000px;
    min-width: 800px;
}

.view-full-website .main-final-websites .picture-mobile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-height: 400px;
    min-width: 200px;
}

.img-style-website{
    background: transparent;
    border: none;
}

#view-full-website-happyfeet .picture-mobile{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.picture-mobile span{
    float:left;
    margin: 20px;
}

.not-available{
    width: 100%;

}

.copyright p{
    color: white;
    font-size: 16px;
    font-family: Candara;
    position: fixed;
    bottom: 0px;
    right: 20px;
}